<!doctype html>
<html {% if section %}class="layout-{{ section }}" {% endif %}lang="en">

    <head>
        {% include "components/_head.njk" %}
    </head>
    <body>
        <header class="masthead">
            <div class="brand">{% include "svg/bravery.svg" %}</div>
            <a class="button outline" href="#inquire">{% include 'svg/message.svg' %} Inquire</a>
        </header>
        <main>
            <header>
                <h1>Empowering Government Workforces Through Specialized Training in Technology, CX, and Human-Centered Design</h1>
            </header>
            <article>
                {% markdown %}
                    {%- include "content/main.md" -%}
                {% endmarkdown %}
            </article>
            <section id="inquire">
                <h2>Inquire about training</h2>
                {% include "components/contact-form.njk" %}
            </section>
        </main>
        <footer>
            <p class="copyright">&copy; {% year %} <span class="brand">Bravery Media</span>. All Rights Reserved.</p>
            <p class="legal-links"><a href="https://bravery.co/privacy-policy/">Privacy Policy</a> <a href="https://bravery.co/terms/">Terms of Service</a></p>
        </footer>
        <!-- capture the JS content as a Nunjucks variable -->
        {% set js %}
        {% include "assets/js/script.js" %}
        {% endset %}
        <!-- feed it through our jsmin filter to minify -->
        <script>{{ js | jsmin | safe }}</script>
    </body>
</html>