
body {
	font-size: var(--type-rg);
	font-weight: 350;
}
h1,
h2,
h3,
h4,
h5 {
	font-weight: 650;
	line-height: 1.05;
	font-variation-settings: "opsz" 96;
	letter-spacing: 0.03em;
}

h1 {
	font-size: var(--type-xl);
	max-width: 1001px;
}

h2 {
	font-size: var(--type-lg);
	#inquire & {
		font-size: var(--type-xl);
	}
}

h3 {
	font-size: var(--type-lg);

}
*.super {
    font-size: var(--type-3xl);
}
.brand {
    font-feature-settings: var(--feature-simple-y);
}
p {
	line-height: 1.65;
	main & {
		margin-block: 0.5em 1.35em;
	}
}
a {
	color: inherit;
    text-decoration: underline;
    &:hover {
        text-decoration: none;
    }
}
ul,
ol {
	margin: 16px 0 32px;
	padding-left: 1.25em;
	font-weight: 650;
	> li {
		line-height: 1.65;
		margin-bottom: 0.8em;
		padding-left: 0.5em;
	}
}
ul > li {
	list-style-type: "\203A"; // for safari
	&::marker {
		content: "\203A";
		color: var(--color-hilite);
	}
}
strong {
	font-weight: 700;
	color: var(--color-hilite);
}