<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-2PVH8LPN7Y"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-2PVH8LPN7Y');
</script>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1.0">
<meta name="generator" content="{{ eleventy.generator }}">
<link rel="preload" href="https://bravery.b-cdn.net/AT-NameSansVariable-Upright-subset.woff2" as="font" type="font/woff2" crossorigin>
<link rel="icon" href="/favicon.svg" type="image/svg+xml">
<title>Bravery Media for Goverment</title>
<meta name="description" content="CX, Design, and Figma training workshops customized for Federal, State, and Local government agencies.">
<meta property="og:url" content="{{ metadata.url }}">
<meta property="og:type" content="website">
<meta property="og:title" content="Bravery Media for Government">
<meta property="og:image" content="{{ metadata.url }}assets/img/og-share.jpg">
<meta property="og:description" content="CX, Design, and Figma training workshops customized for Federal, State, and Local government agencies.">
<meta property="og:site_name" content="Bravery Media for Goverment">
<meta property="og:locale" content="{{ metadata.lang }}">
<link rel="stylesheet" href="/assets/styles/styles.css">